* {
    box-sizing: border-box;
	
}
body {
	background-color: #4B4B4B;	
	background-size: auto;
 
 

}

.logo{
	display: inline-table;
  max-width: 100%;
	margin-top: 15%;
  margin-left: 16%;
	
}

#logo
{
	width: 13%;
}

input.barre
{
   line-height: 2;
   font-size: 83%;
}

#searchbar
{
	letter-spacing: -0.31em;
	margin-left: 20%;
	width: 45%;

}


#searchbar [type="search"]
{
	display: inline-table;
  border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
  vertical-align: top;
  margin-top: 15%;
	width: 70%;
  
	
}

#searchbar [type="submit"]
{
	border: 0.5px;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	background: url(images/loupe.png);
	background-color: white;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
  margin-top: 15%;
  display: inline-table;
  line-height: 2;
  
	
}

#client
{
	margin-left: -2%;
  width: 30%;
}

#client img
{
  width: 18%;
  margin-top: 15%;
  
}
#client > a:first-of-type
{
  margin-left: 45%;
}

#client a ~ a
{
  margin-left: 10%;
}

.client
{
	display: inline-table;
  margin-top: 10%;
	width: 12%;
}

.barre
{
	width: 65%;
	border: 1px;
}


#header
{
	background: url(images/fond-barre.png);
	max-width: 100%;
	margin-left: 15%;
	margin-right: 15%;
	display: flex;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: Raleway, sans-serif;
  line-height: 1;
  margin-left: 15%;
  margin-right: 15%;
  
}
#cssmenu > ul {
  background: url(images/fond-barre.png);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
#cssmenu > ul > li {
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 20px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background: #373737;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#cssmenu > ul > li.active > a {
  background: #cc0013;
  color: #ffffff;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #dff2fa;
  -webkit-transform: rotateX(90deg) translateY(-23px);
  -moz-transform: rotateX(90deg) translateY(-23px);
  transform: rotateX(90deg) translateY(-23px);
  -ms-transform: none;
}
#cssmenu > ul > li > a::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  color: #dff2fa;
  background: url(images/fond-barre.png);
  content: attr(data-title);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: translateY(- -18px);
}
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
  background: #000000;
}
#cssmenu.small-screen {
  width: 100%;
  margin: 0;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
  color: #dff2fa;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
#cssmenu.small-screen > ul > li > a::before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #373737;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 22px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #dff2fa;
  border-bottom: 2px solid #dff2fa;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #dff2fa;
}

#header.small-screen
{
	margin: 0;
	
}

#header.small-screen > #logo
{
  display: inline-table;
}

#header.small-screen  .logo
{
  width: 100%;
}


#header.small-screen > #searchbar
{
	padding: 0;
}

#header.small-screen #client
{
	width: 30%;
  margin-left: -9%;

}

#header.small-screen .client
{
	width: 20%;

}

#header.small-screen > #client > a a
{
	margin-left: 9%;
}

#miseenavant img
{
	  width: 70%;
    margin-left: 15%;
    margin-top: 0.5%;
    border-radius: 13px
	
}

#miseenavant.small-screen img
{
	width: 100%;
	margin: 0;
	border-radius: 0;    
}

#contenu
{
	margin-top: 0.5%;
	border: #373737 solid;
	background-color: #373737;
	margin-left: 15%;
	padding-bottom: 1%;
	width: 70%;
	border-radius: 13px;
	display: inline-table;
	
}

#contenu > img
{
	border-radius: 13px;
	margin-left: 4%;
	margin-top: 2%;
	width: 30%;
}

#contenu > img ~ img 
{
    margin-left: 1%;
}

#contenu > img:nth-child(2n+4)
{
	margin-left: 4%;
}


#contenu > img:hover
{
	border: 3px solid #cc0013;
}

#contenu.small-screen
{
	margin: 0;
	border-radius: 0;
	width: 100%;
}

#searchbar.small-screen input
{
  margin-top: 10%;
  
}

p
{
	font-family: Raleway, sans-serif;
	color: white;
	margin-left: 5%;
	margin-right: 5%;
}

p:first-of-type
{
	margin-top: 3%;
}