* {
    box-sizing: border-box;
	
}
body {
	background-image: url(images/fond.jpg);	
	border: 1px solid red;
	background-size: 500%;
}

.logo{
	max-width: 55%;
	margin-left: 18%;
	margin-top: 5%;
	
}

#logo{
	display: inline-table;
	max-width: 13%;
	border: 1px solid red;

	
}


h1{
	color: white;
	font-size: 135%;
	max-width: 75%;
	text-align: center;
	margin-left: 10%;
	border: 1px solid red;
	

}

#searchbar
{
	display: inline-table;
	letter-spacing: -0.31em;
	margin-left: 5%;
	padding-top: 1%;
	width:55%;
	border: 1px solid red;

}


#searchbar [type="search"]
{
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	padding-top: 3%;
	width: 85%;

}

#searchbar [type="submit"]
{
	border: 0.5px;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	background: url(images/loupe.png);
	background-color: white;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 10%;
	padding-top: 3%;
	
}

#client
{
	border: 1px solid red;
	display: inline-table;
	max-width: 15%;
}
.client
{
	display: inline-table;
	max-width: 25%;
	margin-left: 15%;
	
}

.barre
{
	width: 65%;
	border: 1px;
}



body section
{
	background: url(images/fond-barre.png);
	max-width: 100%;
}

